<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- banner -->
    <div class="container my-lg-20">
      <div class="banner text-white">
        <div
          class="d-flex flex-column align-items-center justify-content-end align-items-lg-start justify-content-lg-center h-100 ms-lg-15"
        >
          <h2 class="fs-6 fs-lg-5 mb-2 mb-lg-3">獻給新世代的生活風格誌</h2>
          <h1 class="fs-3 fs-lg-1 mb-5 mb-lg-6">一起探索生活的無限可能</h1>
          <button
            class="btn btn-accent-200 text-white fs-5 px-lg-6 py-lg-4 align-self-lg-start mb-12 mb-lg-0"
          >
            馬上訂閱 →
          </button>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
