<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- banner -->
    <div class="container mt-lg-20">
      <div class="banner text-white">
        <div
          class="d-flex flex-column align-items-center justify-content-end align-items-lg-start justify-content-lg-center h-100 ms-lg-15"
        >
          <h2 class="fs-6 fs-lg-5 mb-2 mb-lg-3">獻給新世代的生活風格誌</h2>
          <h1 class="fs-3 fs-lg-1 mb-5 mb-lg-6">一起探索生活的無限可能</h1>
          <button
            class="btn btn-accent-200 text-white fs-5 px-lg-6 py-lg-4 align-self-lg-start mb-12 mb-lg-0"
          >
            馬上訂閱 →
          </button>
        </div>
      </div>
    </div>

    <!-- 熱門主題 -->
    <div class="container mt-12 mt-lg-40">
      <h2 class="mb-6 fs-4 fs-lg-2">熱門主題</h2>
      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 gy-5">
        <div class="col">
          <div class="theme-card-relative">
            <picture class="theme-card">
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-1.png"
              />
              <img
                src="../assets/images/theme-1-sm.png"
                alt=""
                class="w-100 theme-card"
              />
            </picture>
            <p
              class="position-absolute top-50 start-50 translate-middle text-white fs-6 fs-sm-5 fw-bold"
            >
              城市漫遊者
            </p>
          </div>
        </div>
        <div class="col">
          <div class="theme-card-relative">
            <picture class="theme-card">
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-3.png"
              />
              <img
                src="../assets/images/theme-3-sm.png"
                alt=""
                class="w-100 theme-card"
              />
            </picture>
            <p
              class="position-absolute top-50 start-50 translate-middle text-white fs-6 fs-sm-5 fw-bold"
            >
              秘境尋蹤人
            </p>
          </div>
        </div>
        <div class="col">
          <div class="theme-card-relative">
            <picture class="theme-card">
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-5.png"
              />
              <img
                src="../assets/images/theme-5-sm.png"
                alt=""
                class="w-100 theme-card"
              />
            </picture>
            <p
              class="position-absolute top-50 start-50 translate-middle text-white fs-6 fs-sm-5 fw-bold"
            >
              品味設計家
            </p>
          </div>
        </div>
        <div class="col">
          <div class="theme-card-relative">
            <picture class="theme-card">
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-8.png"
              />
              <img
                src="../assets/images/theme-8-sm.png"
                alt=""
                class="w-100 theme-card"
              />
            </picture>
            <p
              class="position-absolute top-50 start-50 translate-middle text-white fs-6 fs-sm-5 fw-bold"
            >
              美食探險記
            </p>
          </div>
        </div>
        <div class="col">
          <div class="theme-card-relative">
            <picture class="theme-card">
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-2.png"
              />
              <img
                src="../assets/images/theme-2-sm.png"
                alt=""
                class="w-100 theme-card"
              />
            </picture>
            <p
              class="position-absolute top-50 start-50 translate-middle text-white fs-6 fs-sm-5 fw-bold"
            >
              美學建築誌
            </p>
          </div>
        </div>
        <div class="col">
          <div class="theme-card-relative">
            <picture class="theme-card">
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-4.png"
              />
              <img
                src="../assets/images/theme-4-sm.png"
                alt=""
                class="w-100 theme-card"
              />
            </picture>
            <p
              class="position-absolute top-50 start-50 translate-middle text-white fs-6 fs-sm-5 fw-bold"
            >
              慢活生活行
            </p>
          </div>
        </div>
        <div class="col">
          <div class="theme-card-relative">
            <picture class="theme-card">
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-7.png"
              />
              <img
                src="../assets/images/theme-7-sm.png"
                alt=""
                class="w-100 theme-card"
              />
            </picture>
            <p
              class="position-absolute top-50 start-50 translate-middle text-white fs-6 fs-sm-5 fw-bold"
            >
              時尚先鋒派
            </p>
          </div>
        </div>
        <div class="col">
          <div class="theme-card-relative">
            <picture class="theme-card">
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-1.png"
              />
              <img
                src="../assets/images/theme-1-sm.png"
                alt=""
                class="w-100 theme-card"
              />
            </picture>
            <p
              class="position-absolute top-50 start-50 translate-middle text-white fs-6 fs-sm-5 fw-bold"
            >
              城市漫遊者
            </p>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
